<header>
    <img src="assets/img/eu.png" alt="eu gregorio foto de perfil" width="130px" height="130px" loading="eager">
    <h1>gregorio de lucca</h1>
</header>

<aside>
    <div class="container">
    <p>Desenvolvedor front end | Angular | React | node | nestjs </p>
    <p>Zona leste mooca, São Paulo, Brasil</p>
    <p>Eu sou desenvolvedor  web  focado em web me especializando em web com angular. tenho conhecimentos em aws e ux/ui designer!</p>
    </div>
    <nav>
        <ul>
            <li>
                <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                download dc
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/gregoriodelucca/" target="_blank" class="btn btn-secondary">
                    linkedIn
                </a>
            </li>
        </ul>
    </nav>
    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" alt="Icone para contato de whatsapp"
             width="22px" height="24px">
             <figcaption>
                <a href="https://wa.me/5511971108462?text=Quero%20saber%20mais%20sobre%20seu%20trabalho" target="_blank">
                    <strong>Envie uma mensagem para:</strong> <p>
                        whatsapp (11) 97110-8462
                    </p>
                </a>
            </figcaption>
           
        </figure>
        <figure>
            <img src="assets/icons/gmail.png" alt="Icone para contato de e-mail"
             width="22px" height="24px">
             <figcaption>
                <a href="mailto:gregoriodelucca@gmail.com" >
                    <strong>Envie um e-mail para:</strong> <p>
                        email: gregoriodelucca&#64;gmail.com
                    </p>
                </a>
            </figcaption>
           
        </figure>
        
    </section>
</aside>